version: '3.7'
services:
  php:
    build: './docker/php'
    ports: ['9000:9000']
    volumes: ['./symfony/:/var/www/symfony:cached']
  nginx:
    build: './docker/nginx'
    ports: ['80:80']
    volumes: ['./symfony/:/var/www/symfony:cached']
  mongo:
    image: mongo
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: password